html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}
div#wrapper{
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 48px;
    background-color: #EDF2F4;
}
header{
    padding: 5px;
    background-color: #252E33;
    color: #ffffff;
    height: 64px;
    span.logo{
        font-weight: bold;
    }
    a {
        float: right;
        color: #00A0E2;
    }
}
footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #252E33;
    color: white;
    height: 85px;
    p {
        text-align: center;
        padding: 5px;
        padding-top: 30px;
        margin: 0;
        span{
            padding-right: 100px;
        }
    }
}
.selection{
    display: inline-block;
    position: absolute;
    height: 48px;
    right: 40px;
    text-align: center;
}
.top_page{
    display: inline-block;
    width: 190px;
    height: 48px;
    padding-top: 29px;
    padding-bottom: 8px;
}
.post_page{
    display: inline-block;
    width: 190px;
    height: 48px;
    padding-top: 29px;
    padding-bottom: 8px;
}
.table_page{
    display: inline-block;
    width: 190px;
    height: 48px;
    padding-top: 29px;
    padding-bottom: 8px;
}
.account_page{
    display: inline-block;
    width: 190px;
    height: 48px;
    padding-top: 29px;
    padding-bottom: 8px;
}
.footer_logo{
    display: inline-block;
    width: 145px;
    height: 48px;
}
.copy_right{
    display: inline-block;
    width: 400px;
    height: 80px;
}
.tag{
    color: #ffffff;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.images_image{
    width: 32%;
    height: 200px;
    display: inline-block;
}

.images_image img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.hover_tag{
    background-color: #005071;
}

.new_password{
    width: 300px;
    background-color: #ffffff;
    height: 32px;
    border: 2px solid #cccccc;
}
.password_label{
    padding: 10px 0px 10px 10px;
    width: 100%;
    height: 24px;
    display: block;
    text-align: left;
}
.password_content{
    text-align: center;
    height: 72px;
    margin: 32px auto;
    width: 360px;
}
#password-form{
    margin-top: 96px;
}

.password_title{
   color: #00A0E2;
   text-align: center;
   margin-top: 72px;
}
.pagination{
    height: 140px;
    text-align: center;
}
.page{
    background-color: #00A0E2;
    color: #ffffff;
    font-size: 20px;
    padding: 6px;
    margin: 0 2px;

    a{
        text-decoration: none;
        color: #ffffff;
    }
}
.current{
    color: #00A0E2;
    background-color: #ffffff;
}
.translation_missing{
    color: #00A0E2;
    margin: 0 0 0 8px;
}
#container{
    padding-bottom: 64px;
}
div.field_with_errors {
    display: inline;
    padding: 0;
    label{ color: #cc0000; }
    input { background-color: #ffcccc;}
}

.comment_form{
    margin: 160px auto;
    background-color: #cccccc;
    padding: 64px 112px;
}
.comment_title{
    text-align: center;
    color: #00A0E2;
}
.comment_label{
    display: block;
    padding: 10px 0px 10px 10px;
    width: 100%;
    height: 24px;
}
.comment_field{
    width: 100%;
    background-color: #ffffff;
    height: 32px;
    border: 2px solid #cccccc;
}
#trix-toolbar-1{
    display: none;
}
.tag a{
    color: #ffffff;
}
.account_name{
    color: #00A0E2;
    text-align: center;
    margin-top: 80px;
}
.new_account_btn{
    display: block;
    position: relative;
    width: 342px;
    padding: 0.8em;
    margin-top: 10px;
    margin-right: 8px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #00A0E2;
    height: 55px;
    margin: 64px auto;
    border: solid 1px #EDF2F4;
}
.formTableContent{
    margin: 0 auto;
}
#ramen_member_email{
    margin:40px 0px;
    width: 300px;
    height: 45px;
    padding: 10px;
    border: none;
    background-color: #EDF2F4;
    border-bottom: solid 1px #00A0E2;
}
#ramen_member_password{
    margin:40px 0px;
    width: 300px;
    height: 45px;
    padding: 10px;
    border: none;
    background-color: #EDF2F4;
    border-bottom: solid 1px #00A0E2;
}
#ramen_member_name{
    margin:40px 0px;
    width: 300px;
    height: 45px;
    padding: 10px;
    border: none;
    background-color: #EDF2F4;
    border-bottom: solid 1px #00A0E2;
}
.new_account_label{
    padding-right: 40px;
}
.new_post_label{
    display: inline-block;
    background-color: #cccccc;
    padding: 16px;
    opacity: 0.7;
}
.new_post_image{
    background-color: #ffffff;
    width: 78%;
    padding: 15px;
     border: 1px #cccccc;
}