<footer>

  <div class="copy_right">
    <p>  Copyright © 2020 MATSUZAKI_KANKI</p>
  </div>
  <div class="selection">
    <div class="top_page">
    <a href="/member/images/index"><span class="tag">トップページへ</span></a>
    </div>
    <div class="post_page">
    <a href="/member/posts/new"><span class="tag">新規投稿ページへ</span></a>
    </div>
    <div class="table_page">
      <a href="/member/posts"><span class="tag">テーブルページへ</span></a>
    </div>
    <div class="account_page">
      <a href="/member/password"><span class="tag">アカウントページへ</span></a>
    </div>
  </div>
</footer>