<header>
  <span class="logo">Ramen_app</span>
  <%= content_tag(:span, flash.notice, class: "notice") if flash.notice %>
  <%= content_tag(:span, flash.alert, class: "alert") if flash.alert %>
  <%=
    if login_member_now
      link_to "ログアウト", :member_session, method: :delete
    else
      link_to "ログイン", :member_login
    end
   %>
</header>